<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
    <title>Dashboard</title>
    <link rel="stylesheet"
          href="https://code.jquery.com/ui/1.13.2/themes/smoothness/jquery-ui.css">
<!--    <link rel="stylesheet" th:href="@{/css/common.css}">-->
</head>
<body>
<div class="dashboard-container">
    <h1>Welcome, <span th:text="${#authentication.name}"></span>!</h1>

    <h2>Actions</h2>
    <a th:href="@{/tournament/create}">
        <button type="button">Create Tournament</button>
    </a>

    <form th:action="@{/tournament/join}" method="post">
        <input type="text" name="tournamentName" placeholder="Enter Tournament ID">
        <button type="submit">Join Tournament</button>
    </form>

    <h2>Your Tournaments</h2>
    <ul>
        <li th:each="tournament : ${tournaments}">
            <span th:text="${tournament.name}"></span>
            <a th:href="@{/tournament/{tournamentId}(tournamentId=${tournament.id})}">View Tournament</a>
        </li>
    </ul>

</div>

<script src="https://code.jquery.com/jquery-3.6.0.min.js"
        crossorigin="anonymous"></script>
<script src="https://code.jquery.com/ui/1.13.2/jquery-ui.min.js"
        crossorigin="anonymous"></script>

<script>
    console.log("Скрипт автокомплита запущен")
    $(function() {
        console.log("jQuery ready сработал");
        $('input[name="tournamentName"]').autocomplete({
            source: function(request, response) {
                // request.term = текст, который ввёл пользователь
                // Делаем AJAX на наш /api/stocks/search
                $.ajax({
                    url: '/tournament/search',
                    data: {
                        term: request.term  // передаём "term" параметр
                    },
                    success: function(data) {
                        // data = ["SBER","SBERP"] ...
                        response(data);
                    }
                });
            },
            minLength: 1 // начинать автокомплит при вводе >=1 символа
        });
    });
</script>
</body>
</html>
