<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
    <title>Register</title>
    <link rel="stylesheet" th:href="@{/css/login.css}">
</head>
<body>
<div class="login-container">
    <h1>Create Account</h1>

    <!-- Сообщение об ошибке -->
    <div th:if="${error}" class="error">
        <span th:text="${error}"></span>
    </div>

    <!-- Форма регистрации -->
    <form th:action="@{/register}" method="post"  th:object="${registrationDto}">
        <input type="text" id="username" name="username" placeholder="Username" required>
        <input type="password" id="password" name="password" placeholder="Password" required>
        <input type="password" id="confirmPassword" name="confirmPassword" placeholder="Confirm Password" required>
        <button type="submit">Sign Up</button>
    </form>

    <div class="footer">
        Already have an account? <a th:href="@{/login}">Log In</a>
    </div>
</div>
</body>
</html>
